<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>登录</title>
	    <link rel="stylesheet" href="../lib/weui/jquery-weui.css" />
	    <link rel="stylesheet" href="../lib/weui/weui.min.css" />
	    <link rel="stylesheet" href="../lib/swiper/swiper.min.css" />
	    <link rel="stylesheet" href="../css/public.css" />
	    <link rel="stylesheet" href="../css/style.css" />
	    <script type="text/javascript" src="../lib/jq/jquery-1.10.2.js" ></script>
	    <script type="text/javascript" src="../lib/weui/jquery-weui.js" ></script>
	    <script type="text/javascript" src="../js/v.min.js" ></script>
	    <script type="text/javascript" src="../js/common.js" ></script>
	</head>
	<style>
		.weui-cells{ margin-top: 7rem;}
		.weui-cells:before{ display: none;}
		.weui-cells .weui-cell{ padding-top: 3rem;}
		.weui-cell:before{ left: 50px;}
		.weui-cells:after{ left: 50px;}
		.getCode{ color: #3179fc; padding-left: 1rem; border-left: 1px solid #eee;}
		.getCode.active{ color: #999;}
		.loginBtn{ display: inline-block; background: #3179fc; color: #fff; padding: 1rem 4.5rem; text-align: center; border-radius: 50px; box-shadow: 0 2px 10px rgba(49,121,252,.7); margin: 5rem 0;}
	</style>
	<body>
		<section id="app" class="mainSec">
			<div class="loginBox center">
				<div class="weui-cells">
		            <div class="weui-cell">
		                <div class="weui-cell__hd"><img src="../img/shoujihao@2x.png" alt="" style="width:25px;margin-right:5px;display:block"></div>
		                <div class="weui-cell__bd" style="padding: 0 1rem;">
		                   <input type="number" pattern="[0-9]*" v-model="mobile" class="weui-input" placeholder="请输入手机号码" />
		                </div>
		            </div>
		            <div class="weui-cell">
		                <div class="weui-cell__hd"><img src="../img/yanzhengma@2x.png" alt="" style="width:25px;margin-right:5px;display:block"></div>
		                <div class="weui-cell__bd" style="padding: 0 1rem;">
		                    <input type="text" v-model="code" placeholder="请输入验证码" />
		                </div>
		                <div class="weui-cell__ft getCode on active" @click="getCode($event)">获取验证码</div>
		            </div>
		        </div>
		        <div class="loginBtn" @click="loginFn($event)">登录</div>
			</div>
		</section>
		
	</body>
</html>
<script>

	var app = new Vue({
		el:'#app',
		data:{
			mobile:'',     //电话
			code:'',     //验证码
			bj:0,
			countdown:60
		},
		methods:{
			getCode:function(evt){
				var self=this;
				if($(evt.target).hasClass("on")){
			        this.settime(self.countdown);
					$(evt.target).removeClass('on').addClass('active');
			    }
			},
			settime:function(val) {
				var self=this;
				if(this.countdown == 0) {
					$('.getCode').text('获取验证码').addClass('on');
					$('.getCode').removeClass("active");
					this.countdown = 60;
					bj = 0;
					return;
				} else {
					$('.getCode').text(this.countdown + 's后再获取');
					$('.getCode').addClass("active");
					this.countdown--;
				}
				setTimeout(function() {
					settime(val)
				}, 1000)
			},
			loginFn:function(evt){
				var self=this;
				if(self.mobile.length!=11){
					$.toast('请输入合法手机号','text');
					return false;
				}
				if(self.code.length<1){
					$.toast('请输入验证码','text');
					return false;
				}
			}
		},
		watch : {
	        mobile:function(val) {
	        	var self=this;
	        	if(val.length==11){
					$('.getCode').removeClass('active');
				}
				else{
					$('.getCode').addClass('active');
				}
	        }
	    }
	})
</script>





